manifest {
	author = "Anthony Fullam & Thomas Sebastian B. Schmidt"
	defaultBranch = "main"
	description = "SPIREv1 MAG pipeline"
	name = "SPIRE"
	nextflowVersion = ">=22.10.6"
	version = "1.0.6"
}

process {
    executor = 'slurm'
    maxRetries = 3
    errorStrategy = { task.attempt<3 ? 'retry' : 'ignore' }
    withName: preprocess_fastqs {
        label = 'small'
        cpus   = 4
        memory = { 8.GB  * task.attempt }
        time   = { 2.h * task.attempt }
        container = "quay.io/biocontainers/ngless:1.5.0--h9ee0642_0"
    }
    withName: assembly {
        label = 'large'
        cpus   = 24
        memory = { 5.GB  * task.attempt }
        time   = { 2.hour * task.attempt }
        container = "quay.io/biocontainers/megahit:1.2.9--h8b12597_0"
    }
    withName: gene_calling_prodigal {
        label = 'small'
        cpus   = 1
        memory = { 8.GB  * task.attempt }
        time   = { 7.days * task.attempt }
        container = "quay.io/biocontainers/prodigal:2.6.3--0"
    }
    withName: remove_small_contigs {
        label = 'default'
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "quay.io/biocontainers/seqtk:1.3--ha92aebf_0"
    }
    withName: index {
        label = 'mini'
        cpus   = 1
        memory = { 5.GB  * task.attempt }
        time   = { 20.minutes * task.attempt }
        container = "quay.io/biocontainers/bwa:0.7.17--pl5.22.0_0"
    }
    withName: alignment {
        label = 'medium'
        cpus   = 8
        memory = { 24.GB  * task.attempt }
        time   = { 7.days * task.attempt }
        container = "quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:23592e4ad15ca2acfca18facab87a1ce22c49da1-0"
    }
    withName: depths {
        label = 'mini'
        cpus   = 1
        memory = { 4.GB  * task.attempt }
        time   = { 1.hours * task.attempt }
        container = "quay.io/biocontainers/metawrap:1.2--0"
    }
    withName: binning {
        label = 'small'
        cpus   = 4
        memory = { 12.GB  * task.attempt }
        time   = { 14.hours * task.attempt }
        container = "quay.io/biocontainers/metabat2:2.12.1--0"
    }
    withName: per_bin_genecalling {
        label = 'tiny'
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 3.hours * task.attempt * task.attempt }
        container = "quay.io/biocontainers/seqtk:1.3--ha92aebf_0"
    }
    withName: assembly_stats {
        label = 'tiny'
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "quay.io/biocontainers/assembly-stats:1.0.1--0"
    }
    withName: assembly_mash_sketching {
        label = 'tiny'
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "quay.io/biocontainers/mash:2.2--h3d38be6_0"
    }
    withName: bin_mash_sketching {
        label = 'tiny'
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "quay.io/biocontainers/mash:2.2--h3d38be6_0"
    }
    withName: rrna_detection {
        label = 'default'
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 120.minutes * task.attempt }
        container = "quay.io/biocontainers/barrnap:0.9--0"
    }
    withName: deeparg {
        label = 'medium'
        cpus   = 10
        memory = { 8.GB  * task.attempt }
        time   = { 60.minutes * task.attempt * task.attempt }
    }
    withName: abricate {
        label = 'mini'
        cpus   = 1
        memory = { 2.GB  * task.attempt }
        time   = { 60.minutes * task.attempt * task.attempt }
        container = "quay.io/biocontainers/abricate:1.0.1--h1341992_0"
    }
    withName: macrel {
        label = 'small'
        cpus   = 1
        memory = { 8.GB  * task.attempt }
        time   = { 7.hour * task.attempt }
        container = "quay.io/biocontainers/macrel:0.5.0--py36h516909a_0"
    }
    withName: gunc {
        label = 'small'
        cpus   = 4
        memory = { 16.GB  * task.attempt }
        time   = { 3.hour * task.attempt * task.attempt }
        container = "quay.io/biocontainers/gunc:1.0.5--pyhdfd78af_0"
    }
    withName: macrel {
        label = 'small'
        cpus   = 1
        memory = { 8.GB  * task.attempt }
        time   = { 7.hour * task.attempt }
        container = "quay.io/biocontainers/macrel:0.5.0--py36h516909a_0"
    }
    withName: eggnog_mapper {
        label = 'highmemMedium'
        cpus   = 8
        memory = { 96.GB  * task.attempt }
        time   = { 7.days * task.attempt }
        container = "quay.io/biocontainers/eggnog-mapper:2.1.3--pyhdfd78af_0"
    }
    withName: trnascan {
        label = 'mini'
        cpus   = 2
        memory = { 2.GB  * task.attempt }
        time   = { 1.day * task.attempt }
        container = "quay.io/biocontainers/trnascan-se:2.0.9--pl5262h779adbc_0"
    }
    withName: checkm2 {
        label = 'small'
        cpus   = 1
        memory = { 16.GB  * task.attempt }
        time   = { 12.hours * task.attempt }
        stageInMode = 'copy'
        container = "quay.io/biocontainers/checkm2:1.0.1--pyh7cba7a3_0"
    }
    withName: rgiv6 {
        label = 'highmemMedium'
        cpus   = 1
        memory = { 64.GB  * task.attempt }
        time   = { 1.hours * task.attempt }
        container = "quay.io/biocontainers/rgi:6.0.0--pyha8f3691_0"
    }
    withName: gtdbtk {
        label = 'highmemLarge'
        cpus   = 24
        memory = { 64.GB  * task.attempt }
        time   = { 4.days * task.attempt }
        container = "quay.io/biocontainers/gtdbtk:2.4.1--pyhdfd78af_1"
    }
}

docker {
  enabled = true
}


params {
    bintype = 'psb_metabat2'
    assemblytype = 'psa_megahit'
    input_SRA_id = null
    outdir = null
    NCBI_API_KEY = null
    EGGNOG_DATA_DIR = null
    NGLESS_REFERENCE = null
    GTDBTK_DATA_PATH = null
    CHECKM2DB = null
    GUNC_DB = null
    input_source = "disk"
    input_dir_structure = "flat"
}

env {
    GTDBTK_DATA_PATH = params.GTDBTK_DATA_PATH
    CHECKM2DB = params.CHECKM2DB
    GUNC_DB = params.GUNC_DB
}
