process {
    executor = 'slurm'
    maxRetries = 3
    errorStrategy = { task.attempt<3 ? 'retry' : 'ignore' }
    withName: preprocess_fastqs {
        cpus   = 4
        memory = { 8.GB  * task.attempt }
        time   = { 2.h * task.attempt }
        container = "quay.io/biocontainers/ngless:1.4.2--h9ee0642_0"
    }
    withName: assembly {
        cpus   = 24
        memory = { 5.GB  * task.attempt }
        time   = { 2.hour * task.attempt }
        container = "quay.io/biocontainers/megahit:1.2.9--h8b12597_0"
    }
    withName: gene_calling_prodigal {
        cpus   = 1
        memory = { 8.GB  * task.attempt }
        time   = { 7.days * task.attempt }
        container = "quay.io/biocontainers/prodigal:2.6.3--0"
    }
    withName: remove_small_contigs {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "quay.io/biocontainers/seqtk:1.3--ha92aebf_0"
    }
    withName: index {
        cpus   = 1
        memory = { 5.GB  * task.attempt }
        time   = { 20.minutes * task.attempt }
        container = "quay.io/biocontainers/bwa:0.7.17--pl5.22.0_0"
    }
    withName: alignment {
        cpus   = 8
        memory = { 24.GB  * task.attempt }
        time   = { 7.days * task.attempt }
        container = "quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:23592e4ad15ca2acfca18facab87a1ce22c49da1-0"
    }
    withName: depths {
        cpus   = 1
        memory = { 4.GB  * task.attempt }
        time   = { 1.hours * task.attempt }
        container = "quay.io/biocontainers/metawrap:1.2--0"
    }
    withName: binning {
        cpus   = 4
        memory = { 12.GB  * task.attempt }
        time   = { 14.hours * task.attempt }
        container = "quay.io/biocontainers/metabat2:2.12.1--0"
    }
    withName: per_bin_genecalling {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 3.hours * task.attempt * task.attempt }
        container = "quay.io/biocontainers/seqtk:1.3--ha92aebf_0"
    }
    withName: assembly_stats {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "quay.io/biocontainers/assembly-stats:1.0.1--0"
    }
    withName: assembly_mash_sketching {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "quay.io/biocontainers/mash:2.2--h3d38be6_0"
    }
    withName: bin_mash_sketching {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "quay.io/biocontainers/mash:2.2--h3d38be6_0"
    }
    withName: rrna_detection {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 120.minutes * task.attempt }
        container = "quay.io/biocontainers/barrnap:0.9--0"
    }
    withName: deeparg {
        cpus   = 10
        memory = { 8.GB  * task.attempt }
        time   = { 60.minutes * task.attempt * task.attempt }
    }
    withName: abricate {
        cpus   = 1
        memory = { 2.GB  * task.attempt }
        time   = { 60.minutes * task.attempt * task.attempt }
        container = "quay.io/biocontainers/abricate:1.0.1--h1341992_0"
    }
    withName: macrel {
        cpus   = 1
        memory = { 8.GB  * task.attempt }
        time   = { 7.hour * task.attempt }
        container = "quay.io/biocontainers/macrel:0.5.0--py36h516909a_0"
    }
    withName: gunc {
        cpus   = 4
        memory = { 16.GB  * task.attempt }
        time   = { 3.hour * task.attempt * task.attempt }
        container = "quay.io/biocontainers/gunc:1.0.5--pyhdfd78af_0"
    }
    withName: macrel {
        cpus   = 1
        memory = { 8.GB  * task.attempt }
        time   = { 7.hour * task.attempt }
        container = "quay.io/biocontainers/macrel:0.5.0--py36h516909a_0"
    }
    withName: eggnog_mapper {
        cpus   = 8
        memory = { 96.GB  * task.attempt }
        time   = { 7.days * task.attempt }
        container = "quay.io/biocontainers/eggnog-mapper:2.1.3--pyhdfd78af_0"
    }
    withName: trnascan {
        cpus   = 2
        memory = { 2.GB  * task.attempt }
        time   = { 1.day * task.attempt }
        container = "quay.io/biocontainers/trnascan-se:2.0.9--pl5262h779adbc_0"
    }
    withName: checkm2 {
        cpus   = 1
        memory = { 16.GB  * task.attempt }
        time   = { 12.hours * task.attempt }
        stageInMode = 'copy'
        container = "quay.io/biocontainers/checkm2:1.0.1--pyh7cba7a3_0"
    }
    withName: rgiv6 {
        cpus   = 1
        memory = { 64.GB  * task.attempt }
        time   = { 1.hours * task.attempt }
        container = "quay.io/biocontainers/rgi:6.0.0--pyha8f3691_0"
    }
    withName: gtdbtk {
        cpus   = 24
        memory = { 64.GB  * task.attempt }
        time   = { 4.days * task.attempt }
        container = "quay.io/biocontainers/gtdbtk:2.1.1--pyhdfd78af_0"
    }
}

docker {
  enabled = true
}


params {
    input_SRA_id = 'none'
    bintype = 'psb_metabat2'
    assemblytype = 'psa_megahit'
    //deep_arg_data = "${reference_path}deeparg/1.0/data"
    EGGNOG_DATA_DIR = "/vol/data/databases/clowm/CLDB-018e846affa774508716ac5b5a20386e/018e846affb17f08b4b17d7226aa602e/eggnog-mapper/5.0.2/"
    trnaconf = "${reference_path}/tranascan/2.0.9/tRNAscan-SE.conf"
    outdir = 'none'
    NCBI_API_KEY = 'none'
    ngless_reference = "/vol/data/databases/clowm/CLDB-018e846dacd67b10acfad42129bd82e4/018e846dace2766d93e3e32177e66ebb/human.fna"
}

env {
    GTDBTK_DATA_PATH = "/vol/data/databases/clowm/CLDB-018e12ef116275458ea149715133b0ec/latest/"
    CHECKM2DB = "/vol/data/databases/clowm/CLDB-018e846395037fbf8755cbbe8537206e/018e8463950c723e8939a838a9c880a0/uniref100.KO.1.dmnd"
    GUNC_DB = "/vol/data/databases/clowm/CLDB-018e75b260a672c7a1051c96b1a3bb1a/018e75b260b07b35ab2cb6d202505f42/gunc_db_v2_2.0.4.dmnd"
}
