reference_path = '/vol/data/fullam/references/'
container_path = '/vol/data/fullam/containers/'
conda_cache_path = '/vol/data/fullam/conda_cache/'

process {
    executor = 'slurm'
    maxRetries = 3
    errorStrategy = { task.attempt<3 ? 'retry' : 'ignore' }
    withName: preprocess_fastqs {
        cpus   = 4
        memory = { 8.GB  * task.attempt }
        time   = { 2.h * task.attempt }
        conda = 'bioconda::ngless'
    }
    withName: assembly {
        cpus   = 24
        memory = { 5.GB  * task.attempt }
        time   = { 2.hour * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/megahit%3A1.2.9--h8b12597_0"
    }
    withName: gene_calling_prodigal {
        cpus   = 1
        memory = { 8.GB  * task.attempt }
        time   = { 7.days * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/prodigal%3A2.6.3--0"
    }
    withName: remove_small_contigs {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/seqtk%3A1.3--ha92aebf_0"
    }
    withName: index {
        cpus   = 1
        memory = { 5.GB  * task.attempt }
        time   = { 20.minutes * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/bwa%3A0.7.17--pl5.22.0_0"
    }
    withName: alignment {
        cpus   = 8
        memory = { 24.GB  * task.attempt }
        time   = { 7.days * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:23592e4ad15ca2acfca18facab87a1ce22c49da1-0"
    }
    withName: depths {
        cpus   = 1
        memory = { 4.GB  * task.attempt }
        time   = { 1.hours * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/metawrap%3A1.2--0"
    }
    withName: binning {
        cpus   = 4
        memory = { 12.GB  * task.attempt }
        time   = { 14.hours * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/metabat2%3A2.12.1--0"
    }
    withName: per_bin_genecalling {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 3.hours * task.attempt * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/seqtk%3A1.3--ha92aebf_0"
    }
    withName: assembly_stats {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/assembly-stats%3A1.0.1--0"
    }
    withName: assembly_mash_sketching {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/mash%3A2.2--h3d38be6_0"
    }
    withName: bin_mash_sketching {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 10.minutes * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/mash%3A2.2--h3d38be6_0"
    }
    withName: rrna_detection {
        cpus   = 1
        memory = { 1.GB  * task.attempt }
        time   = { 120.minutes * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/barrnap%3A0.9--0"
    }
    withName: deeparg {
        cpus   = 10
        memory = { 8.GB  * task.attempt }
        time   = { 60.minutes * task.attempt * task.attempt }
        //conda = 'bioconda::deeparg=1.0.2 conda-forge::tqdm=4.46.0'
        container = "https://depot.galaxyproject.org/singularity/deeparg%3A1.0.4--pyhdfd78af_0"
        containerOptions = "-B ${reference_path}"
    }
    withName: abricate {
        cpus   = 1
        memory = { 2.GB  * task.attempt }
        time   = { 60.minutes * task.attempt * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/abricate%3A1.0.1--h1341992_0"
    }
    withName: macrel {
        cpus   = 1
        memory = { 8.GB  * task.attempt }
        time   = { 7.hour * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/macrel%3A0.5.0--py36h516909a_0"
    }
    withName: gunc {
        cpus   = 4
        memory = { 16.GB  * task.attempt }
        time   = { 3.hour * task.attempt * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/gunc%3A1.0.5--pyhdfd78af_0"
        containerOptions = "-B ${reference_path}"
    }
    withName: macrel {
        cpus   = 1
        memory = { 8.GB  * task.attempt }
        time   = { 7.hour * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/macrel%3A0.5.0--py36h516909a_0"
    }
    withName: eggnog_mapper {
        cpus   = 8
        memory = { 96.GB  * task.attempt }
        time   = { 7.days * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/eggnog-mapper%3A2.1.3--pyhdfd78af_0"
        containerOptions = "-B ${reference_path}"
    }
    withName: trnascan {
        cpus   = 2
        memory = { 2.GB  * task.attempt }
        time   = { 1.day * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/trnascan-se%3A2.0.9--pl5262h779adbc_0"
        containerOptions = "-B ${reference_path}"
    }
    withName: checkm2 {
        cpus   = 1
        memory = { 16.GB  * task.attempt }
        time   = { 12.hours * task.attempt }
        stageInMode = 'copy'
        container = "https://depot.galaxyproject.org/singularity/checkm2%3A1.0.1--pyh7cba7a3_0"
        containerOptions = "-B ${reference_path}"
    }
    withName: rgiv6 {
        cpus   = 1
        memory = { 64.GB  * task.attempt }
        time   = { 1.hours * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/rgi%3A6.0.0--pyha8f3691_0"
    }
    withName: gtdbtk {
        cpus   = 24
        memory = { 64.GB  * task.attempt }
        time   = { 4.days * task.attempt }
        container = "https://depot.galaxyproject.org/singularity/gtdbtk%3A2.1.1--pyhdfd78af_0"
        containerOptions = "-B ${reference_path}"
    }
}

conda {
  enabled = true
  cacheDir = "$conda_cache_path"
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$container_path"
}

params {
    ids = 'none'
    bintype = 'psb_metabat2'
    assemblytype = 'psa_megahit'
    deep_arg_data = '${reference_path}deeparg/1.0/data'
    EGGNOG_DATA_DIR = '${reference_path}eggnog-mapper/5.0.2/'
    trnaconf = '${reference_path}/tranascan/2.0.9/tRNAscan-SE.conf'
    outdir = 'none'

}

env {
    GTDBTK_DATA_PATH ='${reference_path}gtdbtk//gtdbtk_db_v207_v2/'
    CHECKM2DB = '${reference_path}checkm2/1.0.1//uniref100.KO.1.dmnd'
    GUNC_DB = '${reference_path}gunc/1.0.5/gunc_db_v2_2.0.4.dmnd'
}
